<p id="notice"><%= notice %></p>

<p>
  <strong>Videobeam:</strong>
  <%= @sala_de_computo.videoBeam %>
</p>

<p>
  <strong>Tipodepc:</strong>
  <%= @sala_de_computo.tipoDePc %>
</p>

<%= link_to 'Edit', edit_sala_de_computo_path(@sala_de_computo) %> |
<%= link_to 'Back', sala_de_computos_path %>
