<p id="notice"><%= notice %></p>

<h1>Cepraes</h1>

<table>
  <thead>
    <tr>
      <th>Correo</th>
      <th>Contrasena</th>
      <th>Identificador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cepraes.each do |ceprae| %>
      <tr>
        <td><%= ceprae.correo %></td>
        <td><%= ceprae.contrasena %></td>
        <td><%= ceprae.identificador %></td>
        <td><%= link_to 'Show', ceprae %></td>
        <td><%= link_to 'Edit', edit_ceprae_path(ceprae) %></td>
        <td><%= link_to 'Destroy', ceprae, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ceprae', new_ceprae_path %>
