<p id="notice"><%= notice %></p>

<h1>Permanentes</h1>

<table>
  <thead>
    <tr>
      <th>Numerodevecesevento</th>
      <th>Fechainicio</th>
      <th>Fechafin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permanentes.each do |permanente| %>
      <tr>
        <td><%= permanente.numeroDeVecesEvento %></td>
        <td><%= permanente.fechaInicio %></td>
        <td><%= permanente.fechaFin %></td>
        <td><%= link_to 'Show', permanente %></td>
        <td><%= link_to 'Edit', edit_permanente_path(permanente) %></td>
        <td><%= link_to 'Destroy', permanente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permanente', new_permanente_path %>
