<p id="notice"><%= notice %></p>

<p>
  <strong>Identificador:</strong>
  <%= @reserva.identificador %>
</p>

<p>
  <strong>Numusu:</strong>
  <%= @reserva.numUsu %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @reserva.fecha %>
</p>

<%= link_to 'Edit', edit_reserva_path(@reserva) %> |
<%= link_to 'Back', reservas_path %>
