<p id="notice"><%= notice %></p>

<p>
  <strong>Fechayhorainicio:</strong>
  <%= @puntual.fechaYHoraInicio %>
</p>

<p>
  <strong>Fechayhorafin:</strong>
  <%= @puntual.fechaYHoraFin %>
</p>

<%= link_to 'Edit', edit_puntual_path(@puntual) %> |
<%= link_to 'Back', puntuals_path %>
