<%= simple_form_for(@auditorio) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :videoBeam %>

    <%= f.input :atril %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
