<p id="notice"><%= notice %></p>

<h1>Auditorios</h1>

<table>
  <thead>
    <tr>
      <th>Videobeam</th>
      <th>Atril</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auditorios.each do |auditorio| %>
      <tr>
        <td><%= auditorio.videoBeam %></td>
        <td><%= auditorio.atril %></td>
        <td><%= link_to 'Show', auditorio %></td>
        <td><%= link_to 'Edit', edit_auditorio_path(auditorio) %></td>
        <td><%= link_to 'Destroy', auditorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auditorio', new_auditorio_path %>
