<p id="notice"><%= notice %></p>

<p>
  <strong>Amplificacion:</strong>
  <%= @auditorio.amplificacion %>
</p>

<p>
  <strong>Proyector:</strong>
  <%= @auditorio.proyector %>
</p>

<%= link_to 'Edit', edit_auditorio_path(@auditorio) %> |
<%= link_to 'Back', auditorios_path %>
