<p id="notice"><%= notice %></p>

<p>
  <strong>Videobeam:</strong>
  <%= @auditorio.videoBeam %>
</p>

<p>
  <strong>Atril:</strong>
  <%= @auditorio.atril %>
</p>

<%= link_to 'Edit', edit_auditorio_path(@auditorio) %> |
<%= link_to 'Back', auditorios_path %>
