<p id="notice"><%= notice %></p>

<p>
  <strong>Videobeam:</strong>
  <%= @salon.videoBeam %>
</p>

<p>
  <strong>Televisor:</strong>
  <%= @salon.televisor %>
</p>

<%= link_to 'Edit', edit_salon_path(@salon) %> |
<%= link_to 'Back', salons_path %>
