<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @sala.tipo %>
</p>

<p>
  <strong>Instrumentos:</strong>
  <%= @sala.instrumentos %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
